<html>
    <head>

    </head>
    <body>
        <form encType="multipart/form-data" class="" action="/upload" method="post">
            <label for='file'>File</label>
            <input type='file' name='file'/>
            <input type='submit' />
        </form>
    </body>
</html>
