<html>
    <head>

    </head>
    <body>
        <form class="" action="/addUser" method="post">
            <label for='email'>Email</label>
            <input type='email' name='email'/>
            <label for='password'>Password</label>
            <input type='password' name='password'/>
            <label for='confirmPassword'>Confirm Password</label>
            <input type='password' name='confirmPassword'/>
            <input type='submit' />
        </form>
        <a href='/login'>Login</a>
    </body>
</html>
